.button_default{
    padding: 1rem;
    background-color: #000;
    color: white;
    border-radius: 6px;
}

.button_login{
    padding: 1rem;
    background-color: #ff4646;
    color: white;
    border-radius: 6px;
}

.button_width{
    width: 100%;
    padding: 1rem;
    background-color: #46ff7b;
    color: white;
    border-radius: 6px;
}
